body {
    background-color: gray;
}
h1 {
    color:blue;
    background-color: black;
    font-size: 20px;
    margin: 30px;
    padding: 30px;
    border: 2px solid orange
}
.menu {
    display: flex;
    justify-content: space-between;
}